<div class="setting">
    <div class="label"><label for="search_excerpt_words">Search Excerpt Words:</label></div>
    <div class="field"><input type="text" name="search_excerpt_words" value="<TMPL_VAR NAME=SEARCH_EXCERPT_WORDS>" />
        <p>The maximum number of words before and after the search string to include in an excerpt.</p>
    </div>
</div>

<div class="setting">
    <div class="label"><label for="index_morphology">Index Morphology</label></div>
    <div class="field">
        <select name="index_morphology">
            <option value="none"<TMPL_IF NAME=INDEX_MORPHOLOGY_NONE> selected="selected"</TMPL_IF>>None</option>
            <option value="stem_en"<TMPL_IF NAME=INDEX_MORPHOLOGY_STEM_EN> selected="selected"</TMPL_IF>>English Stemming</option>
            <option value="stem_ru"<TMPL_IF NAME=INDEX_MORPHOLOGY_STEM_RU> selected="selected"</TMPL_IF>>Russian Stemming</option>
            <option value="stem_enru"<TMPL_IF NAME=INDEX_MORPHOLOGY_STEM_ENRU> selected="selected"</TMPL_IF>>English and Russian Stemming</option>
            <option value="soundex"<TMPL_IF NAME=INDEX_MORPHOLOGY_SOUNDEX> selected="selected"</TMPL_IF>>Soundex</option>
        </select>
    </div>
</div>

<div class="setting grouped">
<div class="label"><label for="sphinx_path">Sphinx Binary Path:</label></div>
<div class="field"><input type="text" name="sphinx_path" value="<TMPL_VAR NAME=SPHINX_PATH>" />
	<p>The installed path for the sphinx binaries, specifically <code>indexer</code>.  If <code>indexer</code> is installed at <code>/usr/local/bin/indexer</code>, the value here should be <code>/usr/local/bin</code>.</p>
</div>
</div>

<div class="setting grouped">
<div class="label"><label for="sphinx_conf_path">Sphinx Config Path</label></div>
<div class="field">
	<input type="text" name="sphinx_conf_path" value="<TMPL_VAR NAME=SPHINX_CONF_PATH>" />
	<p>Full path for the sphinx.conf file (e.g., <code>/etc/sphinx/sphinx.conf</code>).</p>
</div>
</div>

<div class="setting">
    <div class="label"><label for="sphinx_file_path">Sphinx File Path</label></div>
    <div class="field">
        <input type="text" name="sphinx_file_path" value="<TMPL_VAR NAME=SPHINX_FILE_PATH>" />
        <p>Path to use for all the sphinx files (indexes, pid, logs, etc.)</p>
    </div>
</div>

<div class="setting grouped">
    <div class="label"><label for="searchd_host">Searchd Host:</label></div>
    <div class="field"><input type="text" name="searchd_host" id="searchd_host" value="<TMPL_VAR NAME=SEARCHD_HOST>" /></div>
</div>

<div class="setting">
    <div class="label"><label for="searchd_port">Searchd Port:</label></div>
    <div class="field"><input type="text" name="searchd_port" id="searchd_port" value="<TMPL_VAR NAME=SEARCHD_PORT>" /></div>
</div>

<p><a href="<TMPL_VAR NAME=SCRIPT_URI>?__mode=gen_sphinx_conf">Generate sphinx.conf file from MT settings</a></p>