<?xml version="1.0" encoding="<TMPL_VAR NAME='CHARSET_TYPE'>"?>
<sphinx:docset>

	<TMPL_IF NAME=DOCUMENT_LOOP>
	<TMPL_LOOP NAME=DOCUMENT_LOOP>
		<sphinx:document id="<TMPL_VAR NAME=DOCID>">

			<TMPL_IF NAME=GROUP_LOOP>
			<TMPL_LOOP NAME=GROUP_LOOP>
				<TMPL_VAR NAME=LT><TMPL_VAR NAME=KEY><TMPL_VAR NAME=GT><TMPL_VAR NAME=VALUE><TMPL_VAR NAME=LT>/<TMPL_VAR NAME=KEY><TMPL_VAR NAME=GT>
			</TMPL_LOOP>
			</TMPL_IF>
			<TMPL_IF NAME=STRING_GROUP_LOOP>
			<TMPL_LOOP NAME=STRING_GROUP_LOOP>
				<TMPL_VAR NAME=LT><TMPL_VAR NAME=KEY><TMPL_VAR NAME=GT><TMPL_VAR NAME=VALUE><TMPL_VAR NAME=LT>/<TMPL_VAR NAME=KEY><TMPL_VAR NAME=GT>
			</TMPL_LOOP>
			</TMPL_IF>
			<TMPL_IF NAME=DATE_LOOP>
			<TMPL_LOOP NAME=DATE_LOOP>
				<TMPL_VAR NAME=LT><TMPL_VAR NAME=KEY><TMPL_VAR NAME=GT><TMPL_VAR NAME=VALUE><TMPL_VAR NAME=LT>/<TMPL_VAR NAME=KEY><TMPL_VAR NAME=GT>
			</TMPL_LOOP>
			</TMPL_IF>
			<TMPL_IF NAME=MVA_LOOP>
			<TMPL_LOOP NAME=MVA_LOOP>
				<TMPL_VAR NAME=LT><TMPL_VAR NAME=KEY><TMPL_VAR NAME=GT><TMPL_VAR NAME=VALUE><TMPL_VAR NAME=LT>/<TMPL_VAR NAME=KEY><TMPL_VAR NAME=GT>
			</TMPL_LOOP>
			</TMPL_IF>
			<TMPL_IF NAME=FIELD_LOOP>
			<TMPL_LOOP NAME=FIELD_LOOP>
				<TMPL_VAR NAME=LT><TMPL_VAR NAME=KEY><TMPL_VAR NAME=GT> <TMPL_IF NAME=VALUE> <TMPL_VAR NAME=LT>![CDATA[</TMPL_IF> <TMPL_VAR NAME=VALUE> <TMPL_IF NAME=VALUE>]]<TMPL_VAR NAME=GT></TMPL_IF> <TMPL_VAR NAME=LT>/<TMPL_VAR NAME=KEY><TMPL_VAR NAME=GT>
			</TMPL_LOOP>
			</TMPL_IF>

		</sphinx:document>
	</TMPL_LOOP>
	</TMPL_IF>

</sphinx:docset>
